.hero {
    background-color: #F1FAEE;
    text-align: center;
    padding: 60px 20px;
  }
  
  .hero-overlay {
    max-width: 800px;
    margin: auto;
  }
  
  .hero h1 {
    font-size: 48px;
    color: #EA2306;
    margin-bottom: 20px;
  }
  
.hero .menuButton {
    padding: 22px;
    background-color: #EA2306;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50%;
    font-size: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: underline;
}
  
  .hero .menuButton:hover {
    background-color: #D62828;
  }
  