.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
  top: 0;
  right: 82%;
  height: 100%;
  position: fixed;
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  background-color: white;
  padding: 10px 20px;
}

ul li a:hover {
  background-color: #E63946;
  color:white;
}