@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
.gallery.h2{
  width: 200px;
}
.gallery {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8vw;
  text-transform: uppercase;
  font-family: "Anton SC", sans-serif;
    font-size: 24px;

}
.gallery-grid {
  margin: 24px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Force 3 columns */
  gap: 20px;
  max-width: 1200px;
  width: 90%;
}

.gallery-item {
  aspect-ratio: 1/1; /* Make items square */
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
  }
  .gallery-item {
    height: 200px;
  }
}

@media screen and (max-width: 480px) {
  .gallery-grid {
    grid-template-columns: 1fr; /* 1 column on mobile */
  }
  .gallery-item {
    height: 250px;
  }
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f20c0c;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Anton SC", sans-serif;
  font-size: 24px;
}

.btn:hover {
  background-color: #555;
}