.hero {
    text-align: center;
    padding: 0px 0px;
  }
  
  .hero-overlay {
    max-width: 100%;
    margin: auto;
  }
  
  .hero h1 {
    font-size: 48px;
    color: #EA2306;
    margin-bottom: 20px;
  }
  .firstImage{

    background-image: url('../../../public/first.jpg');
    /* background: url('../../public/first.jpg') no-repeat; */
    /* width: 100vw; */
    height: 500px;
    background-size: cover;
    margin-top: 15vw;
  }
/*   
  .hero .firstImage {
    background-size: cover;
    background-position: center;
  } */
  
  