.promo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0; 
  justify-content: center;
  align-items: center;
  width: 70vw; 
  height: 120vh; 
  margin: auto; 
 
  margin-top: 5vw;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  
  height: 100%; 
  width: 100%; 
}

.grid-item img{
  width: 110%;
  height: 500px;

}

@media (max-width:600px) {

  .promo-grid {
    display: flex;
    flex-direction: column;
    
    gap: 15px; 
    justify-content: center;
    align-items: center;
    width: 90vw; 
    height: 150vh; 
    margin: auto; 
   
    margin-top: 8vw;
  }
  .grid-item {
    display: flex;
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    
    height: 100%; 
    width: 100%; 
  }
  
}